<div class="text-formatting">

<div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/blank.png" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Person#1</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/blank.png" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Person#2</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/blank.png" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Person#3</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/blank.png" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Person#4</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/blank.png" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Person#5</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/blank.png" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Person#6</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/blank.png" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Person#7</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/blank.png" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Person#8</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>