<div class="text-formatting">
<div id="people">

<div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Daniel.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Daniel</h4>
  <p>Maps & CSS</p>
  
  </div>
  
  
  
  
</div>
  
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/The Shredder.JPG" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Shradha</h4>
  <p>Data & Markdown</p>
  
  </div>
  
  
  
  
</div>
  
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Jack.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Jack</h4>
  <p>Graphs</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Thomas.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Thomas</h4>
  <p>Group Leader</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Shreya.JPG" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Shreya</h4>
  <p>Design & Programming</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Israel.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Israel</h4>
  <p>Video & Graphic Designer</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Flyn.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Flyn</h4>
  <p>CSS & BootStrap</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Mathew.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Matthew</h4>
  <p>Data</p>
  
  </div>
  
  
  </div>
  

  
</div>
    <div id="future">
    
      
      
    <h3 id="title">Futuristic Blanket</h3>
      <div id="image">
      
      </div>
    <div id="info">
    <h1>Origins</h1>
      <p>Futuristic Blanket is a team that mostly originates from Hervey Bay.</p><br><p>Only two of our members, Shradha and Matthew, come from Brisbane.</p>
      <br>
      <p>We are a team of teenagers aged between 13-17 years old.</p>
      <br>
    <h1>Interests</h1>  
      <p>As a group we all have seperate interests (displayed on the left)</p>
      <br>
      <p>These interests can range from the collection of data all the way up to</p>
      <br>
      <p>the use of graphs and maps</p>
      <br>
      
      
      </div>
  </div>
</div>