<div class="text-formatting">

<div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Daniel.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Daniel</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/blank.png" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Shradya</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/jack.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Jack</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Thomas.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Thomas</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/blank.png" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Shreya</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Israel.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Israel</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Flyn.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Flyn</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>
  <div class="media">

  <div class="media-left">
  
  <img class="media-object" src="/img/aboutus/Mathew.jpg" alt="blank">
  
  </div>
  <div class="media-body">
  
  <h4 class="media-heading">Matthew</h4>
  <p>Person one is a person who does people stuff and listens to human music probably</p>
  
  </div>
  
  
  
  
</div>