<div>
  <div id="content">
    <div id="reef-charting">
      <h2 id="thingybob" style="color: white"></h2>
      <canvas id="myChart" height="200%"></canvas>


      <button id="left" class="btn btn-info" style="width:40%; margin-left: 5%;"><span class="glyphicon glyphicon-menu-left" style="float: right;"></span></button>
      <button id="right" class="btn btn-info" style="width:40%; margin-left: 10%;"><span class="glyphicon glyphicon-menu-right" style="float: left;"></span></button>


      <br>
      <p id="sample-text"></p>
      <br>
    </div>
    <div id="map" style="width: 70%; height: 600px;"></div>
  </div>
</div>
<script type="text/javascript" src="libs/jquery/dist/jquery.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js"></script>
<script>
  //$('#sneaky-snek').hide();

  mapboxgl.accessToken = 'pk.eyJ1IjoicXVhbnR1bWRpc2htb3AiLCJhIjoiY2o1b3d5ajhhMDRyZjJxbWtieDExdzNqaSJ9.hBlTW6xRINUiZ6R_n7oGeg';
  var MyMap = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-v9',
    center: new mapboxgl.LngLat(149.600944, -20.266583),
    zoom: 4.5
  });
  MyMap.addControl(new mapboxgl.NavigationControl());
  MyMap.on('mouseclick', function(e) {
    console.log(e.lngLat)
  });
  //$('#sneaky-snek').html(e);*/

  $.get('data/location.geojson', function(data) {
    // add markers to map
    data.features.forEach(function(marker) {

      // create a HTML element for each feature
      var el = document.createElement('div');
      el.className = 'marker';
      el.id = 'places';
      el.addEventListener('click', function() {
        //window.alert(marker.properties.location);
        //updateChart(marker.properties.location);
        //$('#myChart').show();
        $('#thingybob').html('Showing Data for: ' + marker.properties.location);
        redrawChart();
      });

      // make a marker for each feature and add to the map
      new mapboxgl.Marker(el, {
          offset: [-50 / 2, -50 / 2]
        })
        .setLngLat(marker.geometry.coordinates)
        .addTo(MyMap);
    });
  }, "json")
  MyMap.on('load', function() {
    MyMap.addControl(new mapboxgl.NavigationControl());
  });

  MyMap.on('click', function(e) {
    $('#myChart').show();
    //alert("IT WORKS!! Now give me a high five!");
    //console.log(e);
  });

</script>

<script type="text/javascript" src="libs/chart.js/dist/Chart.js"></script>
<script type="text/javascript" src="js/reef.js"></script>
