<div>
  <div id="content">
    <div id="reef-charting">
      <div id="spacer">
        <h2 id="thingybob" style="color: white">Click a location to display data...</h2>
      </div>
      <canvas id="myChart" height="200%"></canvas>

      <button id="left" class="btn btn-info" style="width:40%; margin-left: 5%;"><span class="glyphicon glyphicon-menu-left" style="float: center;"></span></button>
      <button id="right" class="btn btn-info" style="width:40%; margin-left: 10%;"><span class="glyphicon glyphicon-menu-right" style="float: center; "></span></button>


      <br>
      <p id="sample-text"></p>
      <br>
    </div>
    <div id="map" style="width: 70%; height: 600px;"></div>
  </div>
</div>
<script src="https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js"></script>
<script type="text/javascript" src="libs/chart.js/dist/Chart.js"></script>
<script>
  //$('#sneaky-snek').hide();

  mapboxgl.accessToken = 'pk.eyJ1IjoicXVhbnR1bWRpc2htb3AiLCJhIjoiY2o1b3d5ajhhMDRyZjJxbWtieDExdzNqaSJ9.hBlTW6xRINUiZ6R_n7oGeg';
  var MyMap = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-v9',
    center: new mapboxgl.LngLat(149.600944, -20.266583),
    zoom: 4.5
  });
  MyMap.addControl(new mapboxgl.NavigationControl());
  MyMap.on('mouseclick', function(e) {
    console.log(e.lngLat)
  });
  //$('#sneaky-snek').html(e);*/

  $.get('data/location.geojson', function(data) {
    // add markers to map
    data.features.forEach(function(marker) {

      // create a HTML element for each feature
      var el = document.createElement('div');
      el.className = 'marker';
      el.id = 'places';
      el.addEventListener('click', function() {
        //window.alert(marker.properties.location);
        //updateChart(marker.properties.location);
        //$('#myChart').show();
        $('#thingybob').html('Showing Data for: ' + marker.properties.location);
        redrawChart();
				var neededlocation = marker.properties.location;
				console.log(neededlocation);
      });

      // make a marker for each feature and add to the map
      new mapboxgl.Marker(el, {
          offset: [-50 / 2, -50 / 2]
        })
        .setLngLat(marker.geometry.coordinates)
        .addTo(MyMap);
    });
  }, "json")
  MyMap.on('load', function() {
    MyMap.addControl(new mapboxgl.NavigationControl());
  });

  MyMap.on('click', function(e) {
    $('#myChart').show();
    //alert("IT WORKS!! Now give me a high five!");
    //console.log(e);
  });
  function redrawChart() {

    char(atype, labels, label, data, colors, counter);
  }
  //GRPAHING FUNCTION
function char(atype, labels, label, data, colors, counter) {

  var ctx = $("#myChart").get();

  var mono = new Chart(ctx, {
    type: atype[counter],
    data: {
      labels: labels[counter],
      datasets: [{
        label: label[counter],
        data: data[counter],
        backgroundColor: colors[counter],
        borderColor: colors[counter],
        borderWidth: 1
          }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
          }
              }]
      },
      fill: true,
    }

  });
}
//DATA AND VARIBELS
var counter = 0;
var labels = [[], [], [], [], [], []];
var atype = ['line', 'line', 'line', 'line', 'line', 'line'];
var data = [[], [], [], [], [], []];
var colors = [[], [], [], [], [], []];
var label = [["Hsig"], ["Hmax"], ["Tp"], ["Tz"], ["SST"], ["Direction"]];
var numofpanels = 5;
char(atype, labels, label, data, colors, counter);
var sitemin = [];
//GETTING DATA
$.getJSON('/data/ocean_temp.json', function (data, status) {
  const startTime = performance.now();
  site = data.Site;
  sitemin.push(site);
  console.log(sitemin);
  const duration = performance.now() - startTime;
  console.log(`someMethodIThinkMightBeSlow took ${duration}ms`);
	var wave = [];
	$.each(data, function(id, val){
		wave.push(data[id]);
	});
	//console.log(wave);
	//console.log(wave[0])
	var Hsig = [];
	var Hmax = [];
	var Tp = [];
     var Tz = [];
     var SST = [];
     var Direction = [];
     var DateTime = [];
     var length = 30;
     var wavy = wave[0];
function varpushing(name){
	name.push(wavy[i].name)
};
	for(var i = 0; i < wave[0].length; i++){
		Hsig.push(wavy[i].Hsig)
		Hmax.push(wavy[i].Hmax)
		Tp.push(wavy[i].Tp)
		Tz.push(wavy[i].Tz)
		SST.push(wavy[i].SST)
		Direction.push(wavy[i].Direction)
		DateTime.push(wavy[i].DateTime)
	};
	hsig = Hsig.slice(0, 30);
	hmax = Hmax.slice(0, length);
	tp = Tp.slice(0, length);
	tz = Tz.slice(0, length);
	sst = SST.slice(0, length);
	dir = Direction.slice(0, length);
	time = DateTime.slice(0, length);
	console.log(hsig)
}, "json");
//CLICKS
var chartl = $("#right");
chartl.click(function () {
  counter++
  if (counter > numofpanels) {
    counter = 0
  };
  console.log(counter);
  //char(atype, labels, label, data, colors, counter);
})
var chartr = $("#left");
chartr.click(function () {
  counter = counter - 1;
  if (counter < 0) {
    counter = numofpanels;
  };
  console.log(counter);
  //char(atype, labels, label, data, colors, counter);
});

</script>
