<!--PLEASE CSS GUY HELP THE TEXT LOOK BETTER-->
<div class="text-formatting">
  <h1>Sources</h1>
<img src="/img/GBR 001.jpg" style="width:50%;" alt="GBR 001">
<p>GBR 001 - <a href="https://pixabay.com/en/service/license/"> License</a> - <a href="https://cdn.pixabay.com/photo/2014/07/02/20/31/fish-382487_960_720.jpg">Original Image</a> </p>
<hr>
<img src="/img/GBR 002.jpg" style="width:50%;" alt="GBR 002">
<p>GBR 002 - <a href="https://commons.wikimedia.org/wiki/Commons:Licensing"> License</a> - <a href="https://upload.wikimedia.org/wikipedia/commons/9/9c/Great_barrier_reef.JPG">Original Image</a> </p>
<hr>
<img src="/img/GBR 003.jpg" style="width:40%;" alt="GBR 003">
<p>GBR 003 - <a href="https://commons.wikimedia.org/wiki/Commons:Licensing"> License</a> - <a href="https://upload.wikimedia.org/wikipedia/commons/d/df/Reef_Snorkelling_on_the_Great_Barrier_Reef.jpg">Original Image</a> </p>

</div>
