  body {
    background-image: url(../img/bg.png)
  }
  
  #reef-charting {
    background-color: #222;
    background-image: url(../img/reeflogogrey.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-blend-mode: overlay;
    width: 30% !important;
    display: inline-block;
    height: 600px;
    float: left;
    padding: 5px;
    
  }
  
  #map {
    display: inline-block;
  }
  
  #thingo {
    background-color: #222;
  }
  
  .type {
    display: flex;
    justify-content: space-around;
  }
  
  .text-formatting {
    background-color: rgba(52, 52, 52, 0.6);
    padding: 10px;
    color: #9d9d9d;
    border-radius:4px;
  }
.navbar-items:hover, #navbar-items:hover {
  background-color: #313131;
  border-radius:3px;
}